* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.img1 {
  width: 100%;
  opacity: 0.5;
}

.about_texts {
  position: absolute;
  height: 76px;
  left: 13.69%;
  top: 40.4%;
}

.about_texts h2 {
  color: rgb(31, 43, 108);
  font-family: Yeseva One;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: left;
}

.about_texts h4 {
  color: rgb(31, 43, 108);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.about_flex {
  display: flex;
  gap: 3rem;
  justify-content: space-evenly;
}

.about_section h3 {
  color: rgb(21, 158, 236);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 16%;
  text-align: left;
  text-transform: uppercase;
}

.about_section h1 {
  color: rgb(31, 43, 108);
  font-family: Yeseva One;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: left;
  width: 446px;
}

.about_round {
  border-radius: 50px;
  width: 16px;
  height: 16px;
  background: rgb(21, 158, 236);
}

.round_flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.round_flex span {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.about_lorem {
  margin-top: 32px;
  width: 564px;
  height: 66px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about_section_bg img {
  width: 100%;
  opacity: 0.6;
}

.doctor_bg_img {
  background-image: url("../about//images/johnDoe-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 441px;
  opacity: 0.6;
}

.quote {
  width: 45px;
  height: 30px;
  margin-top: 64px;
}

.doctor_bg_img p {
  color: rgb(252, 254, 254);
  width: 658px;
  margin-left: 28%;
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}

.border_bottom {
  width: 221.5px;
  border: 1px solid rgb(191, 210, 248);
 margin-left: 42.5%;
 margin-top: 20px;
}

.about_section_bg h3{
  color: rgb(252, 254, 254);
font-size: 22px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
margin-top: 20px;
}

.dots{
  width: 74px;
height: 18px;
margin-top: 20px;
}
