.card_sec {
    padding-top: 64px;
    padding-bottom: 64px;
}

.container {
    max-width: 1240px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    text-align: center;
    color: rgb(21, 158, 236);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 16%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.sec_name {
    text-align: center;
    margin-bottom: 64px;
    color: rgb(31, 43, 108);
    font-family: Yeseva One;
    font-size: 32px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}