@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&family=Work+Sans:wght@400;500;600;700&family=Yeseva+One&display=swap');

* {
  margin: 0;
  padding: 0;box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.p-2{
  padding: 2rem;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

