.footer {
    width: 100%;
    background: #1F2B6C;
}

.footer__top {
    padding-top: 70px;
    padding-bottom: 47px;
    border-bottom: 2px solid #BFD2F8;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.container {
    max-width: 1240px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


.footer__h3Text {
    max-width: 240px;
    margin-top: 30px;
    color: rgb(252, 254, 254);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}

.useful_text {
    font-size: 26px;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}

.input__footer {
    max-width: 270px;
    outline: none;
    background: #BFD2F8;
    color: #1F2B6C;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    border-radius: 10px;
    padding: 10px 14px;
    margin-top: 39px;
    border: none;
}

.form_list {
    margin-top: 30px;
}



.form_link {
    color: rgb(252, 254, 254);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 76px;
}

.footer__year {
    color: rgb(252, 254, 254);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.footer__links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_link {
    color:#BFD2F8;
}